@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;400;500&family=Rubik:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transform-box: content-box;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

@supports not (aspect-ratio: 1 / 1) {
  .element::before {
    float: left;
    padding-top: 100%;
    content: "";
  }

  .element::after {
    display: block;
    content: "";
    clear: both;
  }
}